<div>
    <table>
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Cédula</th>
                <th>Email</th>
                <th>Fecha de registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr>
                    <td>{{this.nombres}}</td>
                    <td>{{this.apellidos}}</td>
                    <td>{{this.dni}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="#">Editar</a><a href="#">Eliminar</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>