{{> header_principal}}
<div class="c-list-admin container">
    <button class="btn-option-admin" onclick="modalAdd(this)">Agregar Pregunta</button>
    <table class="c-list-admin__table container__content">
        <thead>
            <tr>
                <th>Pregunta</th>
                <th>Respuesta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each frequentQuestions}}
                <tr>
                    <td>{{this.dataValues.pregunta}}</td>
                    <td>{{this.dataValues.respuesta}}</td>
                    <td>
                        <a href="#" data-id-question="{{this.dataValues.id}}" onclick="modalEdit(this)">
                            <i class="far fa-edit"></i>
                        </a>
                        <a href="#" data-id-question="{{this.dataValues.id}}" onclick="modalDelete(this)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <div id="modalAdd" style="display: {{showModal modal}};">
        {{> modals/add-question-modal}}
    </div>
    <div id="modalEdit" style="display: {{showModal modal}};">
        {{> modals/edit-question-modal}}
    </div>
    <div id="modalDelete" style="display: {{showModal modal}};">
        {{> modals/delete-question-modal}}
    </div>
    
</div>
<<<<<<< HEAD
<script>
    async function modalEdit(e) {
        const idQuestion = e.dataset.idQuestion;
        const question = await getQuestion(idQuestion);
        showModal("modalEdit");
        document.querySelector("#modalEdit form").action = `/admin/frecuent-questions/${idQuestion}`
        document.forms["edit"]["pregunta"].value = question.frequentQuestion.pregunta;
        document.forms["edit"]["respuesta"].value = question.frequentQuestion.respuesta;
    }
    async function modalDelete(e) {
        const idQuestion = e.dataset.idQuestion;
        const question = await getQuestion(idQuestion);
        showModal("modalDelete");
        document.querySelector("#modalDelete form").action = `/admin/delete-frecuent-questions/${idQuestion}`
        document.forms["delete"]["pregunta"].value = question.frequentQuestion.pregunta;
    }
    function showModal(modalName) {
        document.getElementById(modalName).style.display = "block";
    }
    async function getQuestion(idQuestion) {
        const data = await fetch(`http://localhost:4000/admin/frecuent-questions/${idQuestion}`);
        return await data.json();
    }
    function modalAdd() {
        showModal("modalAdd")
    }
</script>
=======
<script src="../js/questions-admin.js"></script>
<script src="../js/login-modal.js"></script>

{{> footer}}
>>>>>>> 2783e47b3b476a240b6131229b8c62caa8634913
